.component-rating-button {
    display: flex;
    align-content: center;
    margin-left: 10rem;
    min-width: 15rem;
}

.component-rating-button input {
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
}

.component-rating-button label {
    font-size: 22px;
}

.ratingForm {
    display: flex;
    flex-direction: column;
}